

table {

    width: 100%;
    border-collapse: collapse;

    th {
        text-transform: capitalize;
        font-size: 1.5rem;
    }

    th,td {
        text-align: center;
    }

    td{
        padding: 1rem;
    }
}

#form_container {

    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;


    form {
        display: flex;
        flex-wrap: wrap;
    }

    input,button {
        padding: 1rem;
        flex: 1 1 auto;
        margin: 1rem;
    }

    form button {
        font-size: 1.3rem;
        text-transform: capitalize;
        background-color: rgb(21, 185, 108);
        color: #fff;
        border:none;
        cursor: pointer;
    }

    form label {
        font-size: 1.3rem;
    }

}