main #cards {

    padding: 1.4rem;
    display: grid;
    grid-template: auto/repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
}

#cards .card {
    text-align: justify;

    h2 {
        font-size: 2.2rem;
        text-transform: capitalize;
    }

    

    p {
        margin: 1rem 0;
        font-size: 1.3rem;
    }
}

#container {
    display: flex;
    justify-content: center;
    transition: height 2s;
    border:solid 2px green
}

#container.show {
    height: 0;
    overflow-y: hidden;
}

#container.noshow {
    height: 23rem;
    overflow-y: hidden;
}

 #container button {
    padding: 1rem;
    font-size: 1.5rem;
    border:none;
    text-transform: capitalize;
    background-color: rgb(6, 224, 119);
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}


#container #show_form_button:disabled{
    display: none;
}


#form #exit_button {
    background-color: tomato;
}

form #action_button_container {
    display: flex;
    width:100%;
    margin: 1rem 0;
    
    button {
        flex-grow: 1;
        margin: 0 1rem;
    }
}

form {
    padding: 1rem;
}

form :is(input,textarea) {
    width: 23rem;
    padding: 0.5rem;
    resize: none;
}

form .input_container {
    margin: 1rem 0;

}
